* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.logo {
    height: 48px;
}

.confirmuser {
    font-weight: bolder;
}

.form-div {
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.form-div-width {
    width: 700px;
    padding: 60px;
    margin: auto auto ;
}

.hash-text {
    color: #2574F5;
}

.sign-in {
    font-size: smaller;
}

.signin-div {
    padding: 0 80px;
}

.signin-text {
    font-size: 11px;
}
.form-padding {
    padding: 4px 90px;
}

button {
    opacity: 0.7;
}

.verifycode {
    display: flex;
    justify-content: center;
}

.code-input {
    width: 2em;
    height: 2em;
    margin: 0px 5px 20px 5px;
    border-radius: 3px;
    border: 0.2px solid rgb(194, 193, 193);
}