* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.hashlogo {
    margin-bottom: 18px;
}

.logo {
    height: 50px;
}

.form-div {
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.form-div-width {
    width: 700px;
    padding: 60px;
    margin: auto auto ;
}

.hash-text {
    color: #2574F5;
}

.sign-in {
    font-size: 11px;
}

.form-padding {
    padding: 8px 90px;
}

.banktext {
    margin-bottom: 15px;
}

.bankverify {
    font-weight: bolder;
}

.bankselect {
    padding: 8px;
    border-radius: 5px;
    border: 0.2px solid rgb(194, 193, 193);
    color: rgb(99, 97, 97);
}

button {
    opacity: 0.7;
}