* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.dash-section {
    line-height: 28px;
    /* identical to box height, or 175% */
    text-align: center;
    /* Neutral colour/100 */
    color: #47454C;
    background: #47454C;
}

.nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    /* Primary colour/main */
    background: #2574F5;
    /* shadow/base */
    box-shadow: 0px 4.2223px 8.4446px rgba(0, 0, 0, 0.06), 0px 4.2223px 12.6669px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logo {
    height: 45px;
}

.logo-white {
    height: 30px;
}

.avatar {
    height: 30px;
}

.easy {
    font-size: 56px;
    line-height: 58px;
}

.hash {
    font-size: 22px;
    line-height: 40px;
    width: 731px;
    height: 120px;
}

.list {
    list-style-type: none;
}

.easy-way {
    padding: 80px;
}

.clip-mobile {
    margin-right: 10px;
}
.clip {
    position: absolute;
    right: 150px;
    top: 175px;
    z-index: 1;
}

.why-qualities {
    background: #E9F1FF4D;
    padding: 30px 50px;
}

.hash-reliable {
    padding: 0px 40px 0px 40px;
}

.hash-qualities {
    padding: 50px;
}

.hash-text {
    font-size: 28px;
    color: #2574F5;    
    background: #E9F1FF4D;
    padding: 6px;
}

.hash-para {
    font-size: 18px;
    padding: 5px;
}

.why-hash {
    text-align: center;    
}


.crypto-section {
    padding: 0px 0px 0px 100px;
    background: #C7D2F44D;
}

.crypto-section-padding {
    padding: 90px 0px 0px 100px;
}

.crypto-margin {
}

.crypto-h {
    font-size: 3.5rem;
    line-height: 80px;
}

.crypto-para {
    font-size: 1.4rem;
    line-height: 40px;
    margin-bottom: 40px;
}

.crypto-btn {
    margin-top: 5px;
}

.img-crypto-mobile1 {
    position: absolute;
    padding: 124px 0px 0px 0px;
    right: 200px;
    z-index: 3;
}

.img-crypto-mobile2 {
    position: absolute;
    padding: 121px 0px 0px 0px;
    right: 57px;
    z-index: 2;
}

.img-crypto-icons {
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.news-section-bg {
    padding: 70px 0px;
}

.news-section {
    background: #C7D2F44D;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
}

.news-text {
}

.news-text-h {
font-size: 2.5rem;
}

.news-text-p {
}

.news-search {
    margin-top: 60px;
}

.news-search-div {
    border-radius: 10px;
}

.news-search-input {
    background: #fff;
    border: none;
}

.news-left, .news-right {
}

.news-search-form {
    border-radius: 5px;
    margin: 0 50px;
    padding: 8px;
}

.footer-color {
    background-color: #001D4B;
    color: #fff;
    padding: 30px 50px;
    list-style-type: none;
}

.list, .list li a{
    list-style-type: none;
    text-decoration: none;
}

div ul h6, div ul li {
    padding: 8px;
}
