* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.dash-section {
    line-height: 28px;
    text-align: center;
    color: #47454C;
    background: #47454C;
}

.nav-section {
    background: #EBEBEB;
    border: 1px solid #EBEBEB;
}

.navbar {
    background: #EBEBEB;
    border: 1px solid #EBEBEB;
}

.nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #2574F5;
    box-shadow: 0px 4.2223px 8.4446px rgba(0, 0, 0, 0.06), 0px 4.2223px 12.6669px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logo {
    height: 45px;
}

.logo-white {
    height: 30px;
}

.avatar {
    height: 30px;
}

.easy {
    font-family: Plus Jakarta Sans;
    font-size: 62px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
}

.hash {
    line-height: 40px;
    width: 731px;
    height: 120px;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}

.list {
    list-style-type: none;
}

.easy-way {
    padding: 80px;
}

.mobileimgs {

}

.clip-mobile {
    margin-right: 10px;
}

.clip {
    position: absolute;
    right: 150px;
    top: 175px;
    z-index: 1;
}

.getstarted {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    background: #2574F5;
    color: #FFFFFF;
    height: 64px;
    width: 239px;
    left: 0px;
    top: 364px;
    border-radius: 8px;
    border: none;
    padding: 16px 32px 16px 32px;
}

.playstore {
    height: 49.9825439453125px;
    width: 169.04800415039062px;
    left: 0.5px;
    top: 0.0091552734375px;
    border-radius: 0px;
}

.applestore {
    height: 50px;
    width: 169px;
    left: 0.5px;
    top: 0px;
    border-radius: 0px;

}

.why-qualities {
    background: #E9F1FF4D;
    padding: 30px 50px;
}

.hash-reliable {
    padding: 0px 40px 0px 40px;
}

.hash-qualities {
    padding: 50px;
    text-align: justify;
}

.hash-text {
    font-size: 28px;
    color: #2574F5;    
    background: #E9F1FF4D;
    padding: 6px;
}

.hash-para {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.why-hash, .hash-text {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}
.easyuse {
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.crypto-section {
    background: #C7D2F44D;
}

.crypto-section .crypto-section-padding {
    padding: 114px 65px;
}

.crypto-margin {
    display: flex;
    j
}

.crypto-h {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}

.crypto-para {
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.crypto-btn {
    margin-top: 5px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    background: #2574F5;
    color: #fff;
    height: 64px;
    width: 260px;
    left: 173px;
    top: 376.3193359375px;
    border-radius: 8px;
    border: none;
    padding: 16px 32px 16px 32px;

}

.img-crypto-mobile1 {
    /* position: absolute; */
    padding: 100px 0px 0px 0px;
    /* right: 230px;
    z-index: 3; */
}

.img-crypto-mobile2 {
    /* position: relative; */
    padding: 100px 0px 0px 0px;
    /* right: -200px;
    z-index: 2; */
}

.img-crypto-icons {
    /* position: relative; */
    /* right: -250px;
    top: 0px;
    z-index: 1; */
}

.news-section-bg {
    padding: 70px 0px;
}

.news-section {
    background: #C7D2F44D;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
}

.news-text {
}

.news-text-h {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

.news-text-p {
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #001D4B;
}

.news-search {
    margin-top: 60px;
}

.news-search-div {
    height: 80px;
    top: 200px;
    border-radius: 12px;
    padding: 8px 16px;
}

.news-search-input {
    background: #fff;
    border: none;
}

.news-search-input::placeholder {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: right;
}

.news-left, .news-right {
}

.news-search-form {
    border-radius: 5px;
    margin: 0 50px;
    padding: 8px;
}

.footer-color {
    background-color: #001D4B;
    color: #fff;
    padding: 30px 50px;
    list-style-type: none;
}

.list, .list li a{
    list-style-type: none;
    text-decoration: none;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

div ul h6, div ul li {
    padding: 8px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

/* RESPONSIVE MEDIA QUERIES */

/* If the screen size is 601px or more */
@media only screen and (min-width: 601px) {
    .clip-mobile {
    }
    
    .clip {
    }
  }
  
  /* If the screen size is 600px or less */
  @media only screen and (max-width: 600px) {
    .clip-mobile {
        margin-left: 50PX;
    }
    
    .clip {
        position: absolute;
        left: 15px;
        top: 975px;
        z-index: 1;
    }
    
.hash {
    line-height: 40px;
    width: 330px;
    height: 200px;
}


.playstore {
    height: 29;
    width: 69;
    top: 0px;
    border-radius: 0px;
}

.applestore {
    right: 5px;
    top: 0px;
    border-radius: 0px;

}

  }