* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.privacy-policy {
    background: #C7D2F44D;
    color: #001D4B;

}

h1 {
    padding: 35px;
}

.privacy {
    height: 130px;
}

.logo-white {
    height: 33px;
}

.logo-privacy {
    height: 40px;
}

h1, h2 {
    font-weight: bolder;
}

.intro-section {

}

.overview-section {
    margin-bottom: 500px;
}


.list, .list li a{
    list-style-type: none;
    text-decoration: none;
}

.footer-color {
    background-color: #001D4B;
    color: #fff;
    padding: 30px 50px;
    list-style-type: none;
}

.active {
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #C7D2F44D;
    background: #C7D2F44D;
}

footer div ul h6, footer div ul li, footer div ul small {
    margin: 15px;
}