* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Plus Jakarta Sans';
    font-style: normal; */
    font-weight: 500;
    font-size: 16px;
}

.logo-login {
    height: 48.5px;
}

.login-p {
    font-size: 1rem;
    font-weight: bolder;
}

.login-p-acct {
    font-size: 0.5rem;
}

.form-div {
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.form-div-width {
    width: 700px;
    padding: 60px;
    margin: auto auto ;
}

.hash-text {
    font-size: 0.7rem;
    color: #2574F5;
}

.signup {
    font-size: 0.7rem;
    text-decoration: none;
}

.form-padding {
    padding: 4px 100px;
    
}

form fieldset {
}

form legend {
    position: absolute;
    top: 44.7%;
    right: 10.5%;
    font-size: 8.3px;
}

form input {
    margin: 5px;
}

::placeholder {
    color: #eee;
    font-size: 9px;
}

input#phone {
    background: url(/images/login/emojione_flag-for-nigeria.svg) no-repeat 10px;
    text-indent: 30px;
}

input#Password {
    background: url(/images/login/ant-design_eye-invisible-filled.png) no-repeat 311px 7px;
    /* text-indent: 30px; */
}

button {
    opacity: 0.7;
}

.flag {
    height: 15px;
}