* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.logo-contact {
    height: 40px;
}

.logo-white {
    height: 33px;
}

.list, .list li a{
    list-style-type: none;
    text-decoration: none;
}

.contact {
    font-weight: bolder;
}

.contact-p {
    font-size: 12px;
}


.form-div {
    /* border: 1px solid grey; */
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.form-div-width {
    width: 700px;
    padding: 40px;
    margin: 0px auto;
}

.contact {
    color: #101628;
}

.hash-text {
    color: #2574F5;
}

.form-padding {
    padding: 4px 90px;
}

form #name  {
    position: absolute;
    top: 40%;
    right: 12.5%;
    font-size: 8.45px;
}

form #pwd {
    position: absolute;
    top: 47.3%;
    right: 12.5%;
    font-size: 8.45px;
}

form #msg {
    position: absolute;
    top: 54.7%;
    right: 12.5%;
    font-size: 8.45px;
}

.send {
    opacity: 0.6;
}

.footer-color {
    background-color: #001D4B;
    color: #fff;
    padding: 30px 50px;
    list-style-type: none;
}

footer div ul h6, footer div ul li, footer div ul small {
    margin: 15px;
}

.active {
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #C7D2F44D;
    background: #C7D2F44D;
}