* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.logo {
    height: 30px;
} 

.drop-menu {
    position: relative;
    top: 50px;
    right: 20px;
    border: none;
}

.left-col {
    margin-left: 35px;
}

.nav-height {
    background: #2574F5;
    margin-bottom: 20px;
    color: #fff;
    height: 50px;
}

.verify-text {
    background: #C7D2F44D;
    color: #001D4B;
    margin-bottom: 20px;
    padding: 5px 20px;
    border-radius: 5px;
}

.btn-Update {
    background: #EBEBEB;
    color: #5D5C63;
    padding: 15px 10px;
    border-radius: 8px;
    border: none;
    justify-content: center;
}


.wallet-text {
    background: #C7D2F44D;
    color: #001D4B;
    margin-bottom: 20px;
    padding: 50px 80px;
    border-radius: 5px;
}

.wallet-bal {
    text-align: center;
}

.arrow {
    margin-right: 0px;
    padding: 25px 0 25px 25px;
}

.list, .list li a{
    list-style-type: none;
    text-decoration: none;
}

.avatar-sm {
    height: 30px;
}

.avatar-sm {
    height: 30px;
}

.avatar-lg {
}

.side-links {
    
}

.modal-text {
    text-align: center;
}

.btn-upload {
    background: #EBEBEB;
    color: #5D5C63;
    padding: 15px 10px;
    border-radius: 8px;
    border: none;
    justify-content: center;
}

div ul li {
    list-style-type: none;
}

div ul li a{
    text-decoration: none;
}

.active-links-box {
    background: #C7D2F44D;
    padding: 5px 10px 5px 25px;
}

.not-active {
    opacity: 7;
    background: #fff;
    padding: 0 25px;
}


.active {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}


a:link {
    color: #441D07;
}

.bg-color {
    background: linear-gradient(0deg, #EBEBEB, #EBEBEB),
linear-gradient(0deg, #EFF0F4, #EFF0F4);
}
