* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.about-us {
    background: #C7D2F44D;
    color: #001D4B;
}

.about-frame {
    height: 350px;
    width: 100%;
}

.whoweare {
    padding: 80px 30px;
}

.we-are {

}

div h3 {
    font-size: 3rem;
    line-height: 55px;
    font-weight: bolder;
}

.intro-section {
    padding: 20px 0px; 
    line-height: 30px;
}

.happy-text {
    /* margin-left: 50px; */
        padding: 40px 0px; 
}

.mission {
    text-align: center;
    margin: 50px auto 300px auto;
}

.weare-section {

}

.logo-white {
    height: 33px;
}

.logo-about {
    height: 40px;
}


.list, .list li a{
    list-style-type: none;
    text-decoration: none;
}

.footer-color {
    background-color: #001D4B;
    color: #fff;
    padding: 30px 50px;
    list-style-type: none;
}

.active {
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #C7D2F44D;
    background: #C7D2F44D;
}

footer div ul h6, footer div ul li, footer div ul small {
    margin: 15px;
}